/*  sección SearchInput.jsx */

.search_input {
    font-size: 15px;
    border: 0;
    box-shadow: 10px;
    background-color: rgb(255, 255, 255);
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 5px 10px 20px 0px rgba(218, 203, 203, 0.3);
    outline: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 15px;
    margin-left: 30px;
}

.search_input:hover {
    transform: scale(1.01);
    transition: transform 200ms ease;
    cursor: url(/src/img/dirección.png), auto;

}

.btn_search {
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(207, 15, 15);
    color: rgb(255, 255, 255);
    border: 0;
    outline: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    cursor: url(/src/img/dirección.png), auto;
    transition: transform 200ms ease;
}

.btn_search:hover {
    transform: scale(1.05);
    transition: transform 200ms ease;

}

/*  sección pokedex */

.search_selectype {
    display: flex;
    flex-direction: row;
}


/*  sección SearchInput.jsx */


.btn_selectype {
    text-transform: capitalize;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    border: 0;
    box-shadow: 10px;
    outline: none;
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 10px 20px 0px rgba(218, 203, 203, 0.9);
    width: 150px;
    padding-left: 5px;
    height: 37.5px;
    margin-left: 10px;
    transition: transform 200ms ease;
    cursor: url(/src/img/dirección.png), auto;
}

.btn_selectype:hover {
    transform: scale(1.03);
    transition: transform 200ms ease;
    cursor: url(/src/img/dirección.png), auto;

}

/*  sección btn-footer  pokedex */

.btn-footer-a {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    cursor: url(/src/img/dirección.png), auto;
    text-align: center;
    color: white;
    background-color: rgba(221, 26, 26, 1);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border: 0;
    transition: transform 200ms ease;
    margin-bottom: 20px;

}

.btn-footer-a:hover {
    transform: scale(1.05);
    transition: transform 200ms ease;
    cursor: url(/src/img/dirección.png), auto;

}

.btn-footer-b {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    cursor: url(/src/img/dirección.png), auto;
    text-align: center;
    color: white;
    background-color: rgba(221, 26, 26, 1);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border: 0;
    transition: transform 200ms ease;
    margin-bottom: 20px;

}

.btn-footer-b:hover {
    transform: scale(1.05);
    transition: transform 200ms ease;
    cursor: url(/src/img/dirección.png), auto;

}

.footer--footer {
    display: flex;
    flex-direction: row;
}

.footer-p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
    height: 33px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    color: rgb(54, 54, 54);

}

/*  switch */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: rgb(155, 155, 155);
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #438cbd;
}


input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* btn-dark mode */
.bxs-sun {
    font-size: 20px;
    margin-top: 6px;
    margin-left: 6px;
    color: rgb(244, 247, 181);
}

.bxs-moon {
    font-size: 20px;
    margin-left: 10px;

}


.switch_header {
    position: fixed;
    left: 1100px;
    top: 10px;

}

/* PokemonDetails.jsx */

.pokemon_details {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    background-color: rgb(230, 230, 230);
    flex-wrap: wrap;
    font-family: 'Times New Roman', Times, serif;
}

.article_card {

    width: 800px;
    height: 890px;
    overflow: hidden;
    background-color: white;
    box-shadow: 0 1px 7px #0003;
    transition: transform 200ms ease;
    margin-top: 60px;
    text-align: center;
    display: flex;
    align-content: center;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 10px 20px 0 rgba(153, 151, 149, 0.8);

}

.article_img {
    width: 170px;
    /* position: absolute; */
    left: 580px;
    top: -90px;
    transform: translateY(-55px)
}

.article_div {
    position: absolute;
    height: 150px;
    width: 790px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    border-radius: 10px 10px 0 0;


}

.article_name {
    margin: 0;
    text-transform: capitalize;
    margin-right: 280px;
    margin-left: 280px;
    width: 220px;
    margin-top: 10px;
    display: inline-block;
    position: relative;
    word-wrap: break-word;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;

}

.article_name::after {
    content: "";
    position: absolute;
    width: 220px;
    height: 2px;
    background-color: rgb(207, 207, 207);
    top: 0.7em;
    left: 230px;
    font-family: 'Times New Roman', Times, serif;

}

.article_name::before {
    content: "";
    position: absolute;
    width: 220px;
    height: 2px;
    left: -230px;
    background-color: rgb(207, 207, 207);
    top: 0.7em;
    font-family: 'Times New Roman', Times, serif;

}

.article_id {
    margin-bottom: 0;
    margin-top: 0px;
    font-family: 'Times New Roman', Times, serif;
    border: 1px solid;
    text-align: center;
    width: 100px;
    padding-top: 8px;
    padding-bottom: 8px;
  

}

.id_and_name{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.weight_and_height {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.card_h2_weight {
    font-size: 18px;
    margin-right: 15px;
    color: rgb(26, 26, 26);
}

.card_h2_height {
    font-size: 18px;
    margin-left: 15px;
    color: rgb(26, 26, 26);
}

.weight {
    font-size: 18px;
    color: rgb(48, 48, 48);
}

.height {
    font-size: 18px;
    color: rgb(48, 48, 48);
}

.article_abilities {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.abiliti_a {
    font-size: 15px;
    text-transform: capitalize;
    border: 1px solid rgb(143, 143, 143);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: rgb(48, 48, 48);
    margin-right: 5px;
}

.abiliti_b {
    font-size: 15px;
    text-transform: capitalize;
    border: 1px solid rgb(143, 143, 143);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: rgb(48, 48, 48);
    margin-left: 5px;

}

.article_abilities_total {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
    /* max-width: 200px;
    position: relative; */

}

.article_skill {
    margin-top: 5px;
    margin-bottom: 5px;
    text-transform: capitalize;
    color: rgb(26, 26, 26);
    font-size: 20px;
}

.type_a {
    font-size: 15px;
    text-transform: capitalize;
    /* border: 1px solid rgb(143, 143, 143); */
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: rgb(255, 255, 255);
    width: 100px;
    text-align: center;
    /* margin-right: 380px;
    margin-left: 380px; */
}

.article_types_title {
    margin-top: 5px;
    margin-bottom: 5px;
    text-transform: capitalize;
    color: rgb(26, 26, 26);
    font-size: 20px;
}

.article_types_total {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.article_types_and_skill {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
}

.article_stats {
    font-size: 25px;
    font-weight: bolder;
    width: 100px;
    margin-top: 20px;
    color: rgb(31, 31, 31);
    margin-left: 40px;
}

.article_stats::after {
    content: "";
    position: absolute;
    width: 530px;
    height: 1px;
    background-color: rgb(209, 209, 209);
    top: 495px;
    left: 130px;
    font-family: 'Times New Roman', Times, serif;
}

.pokebola_fondo {
    width: 70px;
    filter: opacity(10%);
    position: absolute;
    left: 668px;
    top: 460px;
}


.stat_1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
}

.stat_h1 {
    text-transform: capitalize;
    font-size: 16px;
    margin-left: 65px;
    color: #2c2c2c;
    margin-bottom: 7px;
}

.stat_h2 {
    font-size: 16px;
    margin-right: 80px;
    color: #2c2c2c;
    margin-bottom: 7px;
}

.progress {
    width: 665px;
    height: 20px;
    position: relative;
    transform: translateX(-5px);
    overflow: hidden;

}

.progress[value] {
    /* Reset the default appearance */
    -webkit-appearance: none;
    appearance: none;
}

.progress[value]::-webkit-progress-bar {
    background-color: rgb(235, 235, 235);
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

.progress[value]::-webkit-progress-value {
    background: linear-gradient(90deg, #FCD676 -2.25%, #E6901E 133.18%);
}


.movements {
    font-size: 25px;
    font-weight: bolder;
    width: 1px;
  
    margin-top: 20px;
    color: rgb(31, 31, 31);
    margin-left: 40px;
    margin-top: 30px;

}


.movements::after {
    content: "";
    position: absolute;
    width: 500px;
    height: 1px;
    background-color: rgb(209, 209, 209);
    top: 1115px;
    left: 450px;
    font-family: 'Times New Roman', Times, serif;
}

.article_card_footer {
    width: 800px;
    height: 350px;
    overflow: hidden;
    background-color: white;
    box-shadow: 0 1px 7px #0003;
    transition: transform 200ms ease;
    margin-top: 40px;
    margin-bottom: 80px;
    text-align: center;
    display: flex;
    align-content: center;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 10px 20px 0 rgba(153, 151, 149, 0.8);
}

.pokebola_fondo_footer {
    width: 70px;
    filter: opacity(10%);
    position: absolute;
    left: 960px;
    top: 1080px;
}


.move {
    font-size: 15px;
    text-transform: capitalize;
    color: #2c2c2c;
    background-color: rgb(226, 226, 226);
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 8px;
    padding-right: 8px;
    margin-left: 5px;
    margin-right: 5px;

}

.move_total {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-content: center;
    height: 200px;
    margin-top: 70px;

}

.btn-move-menor{
    font-size: 40px;
    height: 60px;
    margin-top: 120px;
    background: none;
    border: none;
    color: #E6901E;
    cursor: url(img/pokebola.png), auto;
    transition: transform 200ms ease;
}
.btn-move-menor:hover {
    transform: scale(1.05);
    transition: transform 200ms ease;
}
.btn-move-mayor{
    font-size: 40px;
    height: 60px;
    margin-top: 120px;
    background: none;
    border: none;
    color: #E6901E;
    margin-right: 20px;
    cursor: url(img/pokebola.png), auto;
    transition: transform 200ms ease;

}
.btn-move-mayor:hover {
    transform: scale(1.05);
    transition: transform 200ms ease;
}

.move_p{
    font-family: 'Times New Roman', Times, serif;
   
    position: absolute;
    width: 100px;
    height: 20px;
    margin-top: 300px;
    margin-left: 350px;
    /* left: 660px;
    bottom: -710px; */
    border: 1px solid #E6901E;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 10px;
}

.btn_back{
    font-size: 60px;
    background: none;
    border: none;

    transition: transform 200ms ease;
}

.bx-left-arrow-circle{
    cursor: url(/src/img/dirección.png), auto;
    transition: transform 200ms ease;
    color: rgba(217, 63, 63, 1);
    position: absolute;
    top:100px;
    left: 50px;
}
.bx-left-arrow-circle:hover {
    transform: scale(1.05);
    transition: transform 200ms ease;
}